@font-face {
  font-family: 'Moprius Sans';
  src: url('../fonts/woff2/MopriusSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Sans';
  src: url('../fonts/woff2/MopriusSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Sans';
  src: url('../fonts/woff2/MopriusSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Sans';
  src: url('../fonts/woff2/MopriusSans-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Mono';
  src: url('../fonts/woff2/MopriusMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Mono';
  src: url('../fonts/woff2/MopriusMono-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Mono';
  src: url('../fonts/woff2/MopriusMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Moprius Mono';
  src: url('../fonts/woff2/MopriusMono-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
